.form-item {
    margin-bottom: 16px;
    margin-left: 20px;
}

.candidate-list {
    margin: 20px;
    padding: 20px;
    background-color: #fff; /* Light theme */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.no-candidates {
    text-align: center;
    color: #999;
    font-size: 16px;
}

.ant-table-thead > tr > th {
    background-color: #f0f2f5;
    color: #333;
    font-weight: 600;
    font-size: 16px;
}

.ant-table-tbody > tr > td {
    color: #666;
    font-size: 14px;
}

.ant-table-row:hover {
    background-color: #f5f5f5;
}

.ant-table a {
    color: #1890ff;
}

.ant-table a:hover {
    text-decoration: underline;
}

.ant-table-cell a {
    display: inline-block;
    padding: 4px 8px;
    background-color: #e6f7ff;
    border: 1px solid #91d5ff;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s;
}

.ant-table-cell a:hover {
    background-color: #bae7ff;
    border-color: #69c0ff;
}

@media (max-width: 768px) {
    .candidate-list {
    padding: 10px;
    }

    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td {
    padding: 8px;
    }

    .ant-table {
    font-size: 12px;
    }
}
.search-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.search-input, .search-select {
    width: 100%;
}

.slider-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-slider {
    flex-grow: 1;
}

.search-button {
    align-self: center;
    padding: 0 30px;
    height: 40px;
}

@media (max-width: 768px) {
    .search-container {
        flex-direction: column;
    }
}

.header {
    padding: 20px 40px;
    background-color: #0052cc;  
    color: #ffffff;             
    text-align: center;         
    border-radius: 8px;         
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.header h1 {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

  